$primary: #3bd611;
$light: #3611bd;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #c7dc08,
  "altdark": #bf1322
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap';